<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Columns Webpage</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3" style="width: 24%;">
                <div class="card">
                    <img src="https://via.placeholder.com/350x150" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title">Card Title</h3>
                        <p class="card-text" style="margin-bottom: 0;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-7" style="width: 52%;">
                <table class="table" style="width: 90%;">
                    <tbody>
                        <tr>
                            <td>Row 1</td>
                        </tr>
                        <tr>
                            <td>Row 2</td>
                        </tr>
                        <tr>
                            <td>Row 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2" style="width: 22%;">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Row 1</td>
                        </tr>
                        <tr>
                            <td>Row 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
